##### Dependencies
____

In [140]:
import numpy as np
import pandas as pd
import sqlalchemy as db
import datetime
import random

from faker import Faker

##### Database connection
____

In [141]:
g_params = {
    'dbuser'   : 'csc4710',
    'dbpwd'    : 'password',
    'dbserver' : 'localhost',
    'dbport'   : 3306,
    'dbname'   : 'CSC4710'
}

disk_engine = db.create_engine(f'mysql+pymysql://{g_params["dbuser"]}:{g_params["dbpwd"]}@{g_params["dbserver"]}:{g_params["dbport"]}/{g_params["dbname"]}', echo=False)
disk_engine.connect().connection.ping()

##### Load Address Dataframe
____

In [142]:
address = pd.read_sql_table(table_name='address', con=disk_engine)

address.head(5)

,id,street,city,state,zipcode,latitude,longitude
0,1,2175 PIEDMONT RD NE,Atlanta,GA,30324-4128,33.817098,-84.366785
1,2,306 LUCKIE ST NW,Atlanta,GA,30313-1706,33.762858,-84.395977
2,3,227 WELLINGTON ST SW,Atlanta,GA,30314-2240,33.749008,-84.438294
3,4,1125 CASCADE CIR SW @ZONE 4,Atlanta,GA,30311-2817,33.724948,-84.449931
4,5,469 FAIR ST SW,Atlanta,GA,30313-1203,33.748725,-84.403206

##### Add Supervisors
____

In [143]:
total = 5
faker = Faker(locale='en_US')
supervisors = []

for i in range(1, total+1):
    firstname      = faker.first_name()
    lastname       = faker.last_name()
    ssn            = faker.ssn()
    phone          = faker.phone_number()
    emp_addr       = int(address['id'].sample(n=1).values[0])
    
    sql = "INSERT INTO employee(firstname, lastname,ssn, phone, address) VALUES (%s, %s, %s, %s, %s)"
    values = (firstname, lastname, ssn, phone, emp_addr)

    supervisors.append(disk_engine.execute(sql, values).lastrowid)

##### Add Employees
____

In [144]:
total = 30
employees = []

for i in range(1, total+1):
    firstname      = faker.first_name()
    lastname       = faker.last_name()
    ssn            = faker.ssn()
    phone          = faker.phone_number()
    emp_addr       = int(address['id'].sample(n=1).values[0])
    supervisor     = random.sample(supervisors, 1)
    
    sql = "INSERT INTO employee(firstname, lastname,ssn, phone, address, supervisor) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (firstname, lastname, ssn, phone, emp_addr, supervisor)

    employees.append(disk_engine.execute(sql, values).lastrowid)

##### Add Seasonal Employees
____

In [147]:
total = 5

for i in range(1, total+1):
    employee     = random.sample(employees, 1)[0]
    start_date   = datetime.date.today().strftime('%Y-%m-%d')
    end_date     = (datetime.date.today() + datetime.timedelta(days=random.randint(1,365))).strftime('%Y-%m-%d')
    hourly_wage  = str(round(random.randint(1, 100) * random.random(), 2))
    weekly_hours = random.randint(1,40)

    sql = "INSERT INTO seasonal(employee_id, start_date, end_date, hourly_wage, weekly_hours) VALUES (%s, %s, %s, %s, %s)"
    values = (employee, start_date, end_date, hourly_wage, weekly_hours)
    
    disk_engine.execute(sql, values)

##### Add Partime Employees
____

In [149]:
total = 3

for i in range(1, total+1):
    employee     = random.sample(employees, 1)[0]
    start_date   = datetime.date.today().strftime('%Y-%m-%d')
    end_date     = (datetime.date.today() + datetime.timedelta(days=random.randint(1,365))).strftime('%Y-%m-%d')
    hourly_wage  = str(round(random.randint(1, 100) * random.random(), 2))
    weekly_hours = random.randint(1,40)

    sql = "INSERT INTO parttime(employee_id, start_date, end_date, hourly_wage, weekly_hours) VALUES (%s, %s, %s, %s, %s)"
    values = (employee, start_date, end_date, hourly_wage, weekly_hours)
    
    disk_engine.execute(sql, values)

##### Add Fulltime Employees
____

In [150]:
total = 5

for i in range(1, total+1):
    employee     = random.sample(employees, 1)[0]
    start_date   = datetime.date.today().strftime('%Y-%m-%d')
    end_date     = (datetime.date.today() + datetime.timedelta(days=random.randint(1,365))).strftime('%Y-%m-%d')
    hourly_wage  = str(round(random.randint(1, 100) * random.random(), 2))
    weekly_hours = random.randint(1,40)

    sql = "INSERT INTO fulltime(employee_id, start_date, end_date, hourly_wage, weekly_hours) VALUES (%s, %s, %s, %s, %s)"
    values = (employee, start_date, end_date, hourly_wage, weekly_hours)
    
    disk_engine.execute(sql, values)

##### Add Employee Productivity
____

In [ ]:
# need clarification