##### Dependencies
____

In [6]:
import numpy as np
import pandas as pd
import sqlalchemy as db
import datetime
import random

from faker import Faker

##### Database connection
____

In [7]:
g_params = {
    'dbuser'   : 'csc4710',
    'dbpwd'    : 'password',
    'dbserver' : 'localhost',
    'dbport'   : 3306,
    'dbname'   : 'CSC4710'
}

disk_engine = db.create_engine(f'mysql+pymysql://{g_params["dbuser"]}:{g_params["dbpwd"]}@{g_params["dbserver"]}:{g_params["dbport"]}/{g_params["dbname"]}', echo=False)
disk_engine.connect().connection.ping()

##### Load Address Dataframe
____

In [8]:
address = pd.read_sql_table(table_name='address', con=disk_engine)

address.head(5)

,id,street,city,state,zipcode,latitude,longitude
0,1,2175 PIEDMONT RD NE,Atlanta,GA,30324-4128,33.817098,-84.366785
1,2,306 LUCKIE ST NW,Atlanta,GA,30313-1706,33.762858,-84.395977
2,3,227 WELLINGTON ST SW,Atlanta,GA,30314-2240,33.749008,-84.438294
3,4,1125 CASCADE CIR SW @ZONE 4,Atlanta,GA,30311-2817,33.724948,-84.449931
4,5,469 FAIR ST SW,Atlanta,GA,30313-1203,33.748725,-84.403206

##### Add Customer
____

In [9]:
total = 100
faker = Faker(locale='en_US')

for i in range(1, total+1):
    firstname  = faker.first_name()
    lastname   = faker.last_name()
    email      = faker.email()
    phone      = faker.phone_number()
    cust_addr  = int(address['id'].sample(n=1).values[0])
    
    sql = "INSERT INTO customer(firstname, lastname, email, phone, address) VALUES (%s, %s, %s, %s, %s)"
    values = (firstname, lastname, email, phone, cust_addr)
    
    disk_engine.execute(sql, values)