##### Dependencies
____

In [36]:
import numpy as np
import pandas as pd
import sqlalchemy as db
import datetime
import random
import hashlib

from faker import Faker

##### Database connection
____

In [37]:
g_params = {
    'dbuser'   : 'csc4710',
    'dbpwd'    : 'password',
    'dbserver' : 'localhost',
    'dbport'   : 3306,
    'dbname'   : 'CSC4710'
}

disk_engine = db.create_engine(f'mysql+pymysql://{g_params["dbuser"]}:{g_params["dbpwd"]}@{g_params["dbserver"]}:{g_params["dbport"]}/{g_params["dbname"]}', echo=False)
disk_engine.connect().connection.ping()

##### Load Employee Dataframe
____

In [38]:
employees = pd.read_sql_table(table_name='employee', con=disk_engine)

employees.head(5)

,id,firstname,lastname,ssn,holiday_status,phone,address,supervisor
0,1,Daniel,Mejia,749-96-2475,off,354-818-0021x8551,41,NaN
1,2,Richard,Johnson,660-08-9388,off,108.889.4800x2458,19,NaN
2,3,Kristi,Fernandez,869-09-5521,off,3246551265,28,NaN
3,4,Tyler,Freeman,270-34-6727,off,001-806-050-7647x41840,9,NaN
4,5,Kaitlin,Harrell,509-08-5361,off,0474937466,59,NaN

##### Load Driver Dataframe
____

In [39]:
drivers = pd.read_sql_table(table_name='driver', con=disk_engine)

drivers.head(5)

   id    firstname lastname                        email                 phone
0   1  Christopher    Patel         calvin11@hotmail.com    870-209-1746x49189
1   2       Alexis   Benson  rodriguezbrittney@gmail.com     (721)083-4901x665
2   3        Molly    Young            scole@hotmail.com            0434895465
3   4       Nicole     Lane           john43@hotmail.com  +1-555-378-4422x1679
4   5         Mary   Harris   sullivankristen@reyes.info    213-802-0221x06874

##### Load Customer Dataframe
____

In [40]:
customers = pd.read_sql_table(table_name='customer', con=disk_engine)

customers.head(5)

,id,firstname,lastname,email,phone,address
0,1,Kenneth,King,brandy02@heath.org,0529123086,32
1,2,Walter,Tanner,szamora@yahoo.com,(049)169-6111,19
2,3,Geoffrey,Nelson,moorescott@powell-reyes.net,001-019-776-6710x01150,42
3,4,Adrian,Hill,lindsaycampbell@gmail.com,(854)484-0320x861,6
4,5,Angela,Moon,ksavage@hotmail.com,+1-188-250-1479x06039,53

##### Add Employee credentials
____

In [41]:
for ind in employees.index:    
    password = hashlib.sha256(faker.password().encode()).hexdigest()
    employee = employees['id'][ind].__int__()
    role     = 'employee'
    
    sql = "INSERT INTO credentials(password, employee_id, role) VALUES (%s, %s, %s)"
    values = (password, employee, role)
    
    disk_engine.execute(sql, values)

##### Add Driver credentials
____

In [42]:
for ind in drivers.index:    
    password = hashlib.sha256(faker.password().encode()).hexdigest()
    driver   = drivers['id'][ind].__int__()
    role     = 'driver'
    
    sql = "INSERT INTO credentials(password, driver_id, role) VALUES (%s, %s, %s)"
    values = (password, driver, role)
    
    disk_engine.execute(sql, values)

##### Add Customer credentials
____

In [43]:
for ind in customers.index:    
    password = hashlib.sha256(faker.password().encode()).hexdigest()
    driver   = customers['id'][ind].__int__()
    role     = 'customer'
    
    sql = "INSERT INTO credentials(password, customer_id, role) VALUES (%s, %s, %s)"
    values = (password, driver, role)
    
    disk_engine.execute(sql, values)