##### Dependencies
____

In [12]:
import numpy as np
import pandas as pd
import sqlalchemy as db

##### Database connection
____

In [2]:
g_params = {
    'dbuser'   : 'csc4710',
    'dbpwd'    : 'password',
    'dbserver' : 'localhost',
    'dbport'   : 3306,
    'dbname'   : 'CSC4710'
}

disk_engine = db.create_engine(f'mysql+pymysql://{g_params["dbuser"]}:{g_params["dbpwd"]}@{g_params["dbserver"]}:{g_params["dbport"]}/{g_params["dbname"]}', echo=False)
disk_engine.connect().connection.ping()

##### Add Ingredients
____

In [9]:
ingredients = [
    {
        'name'     : 'baked potato',
        'price'    : 3.00,
        'calories' : 100,
        'size'     : 400,
        'unit'     : 'g'
    },
    {
        'name'     : 'broccoli',
        'price'    : 1.00,
        'calories' : 30, 
        'size'     : 50,
        'unit'     : 'g'
    },
    {
        'name'     : 'salmon',
        'price'    : 12.99,
        'calories' : 400,
        'size'     : 600,
        'unit'     : 'g'
    },
    {
        'name'     : 'fried chicken',
        'price'    : 7.99,
        'calories' : 400,
        'size'     : 400,
        'unit'     : 'g'
    },
    {
        'name'     : 'steak',
        'price'    : 16.99,
        'calories' : 800,
        'size'     : 800,
        'unit'     : 'g'
    },    
    {
        'name'     : 'pork',
        'price'    : 14.99,
        'calories' : 800,
        'size'     : 800,
        'unit'     : 'g'
    },        
    {
        'name'     : 'pasta',
        'price'    : 11.99,
        'calories' : 800,
        'size'     : 800,
        'unit'     : 'g'
    },            
]

for item in ingredients:
    sql = "INSERT INTO ingredients(name, price, calories, size, unit) VALUES (%s, %s, %s, %s, %s)"
    values = (item['name'], item['price'], item['calories'], item['size'], item['unit'])
    
    disk_engine.execute(sql, values)

##### Add Menu
____

In [10]:
menus = [
    {
        'restaurant' : 1, 
        'title'      : 'Combo 1',
        'content'    : 'Super Combo 1'        
    },
    {
        'restaurant' : 1, 
        'title'      : 'Combo 2',
        'content'    : 'Super Combo 2'        
    },
    {
        'restaurant' : 1, 
        'title'      : 'Combo 3',
        'content'    : 'Super Combo 3'        
    },    
]

for item in menus:
    sql = "INSERT INTO menu(restaurant_id, title, content) VALUES (%s, %s, %s)"
    values = (item['restaurant'], item['title'], item['content'])
    
    disk_engine.execute(sql, values)

##### Add Menu Item
____

In [11]:
menu_items = [
    {
        'menu_id'       : 1, 
        'ingredient_id' : 4       
    },
    {
        'menu_id'       : 1, 
        'ingredient_id' : 3       
    },
    {
        'menu_id'       : 2, 
        'ingredient_id' : 6       
    },
    {
        'menu_id'       : 2, 
        'ingredient_id' : 8       
    },
    {
        'menu_id'       : 3, 
        'ingredient_id' : 5       
    },
    {
        'menu_id'       : 3, 
        'ingredient_id' : 2       
    },    
]

for item in menu_items:
    sql = "INSERT INTO menu_items(menu_id, ingredient_id) VALUES (%s, %s)"
    values = (item['menu_id'], item['ingredient_id'])
    
    disk_engine.execute(sql, values)